@view-transition{
  navigation: auto;
}
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.page{
  width: 100vw;
  height: auto;
  /* display: flex; */
  /* flex-flow: row wrap; */
  aspect-ratio: 1340 / 2049;
  margin: auto;
}
.page img{
  width: 32.3%;
  height: auto;
}
.page a{
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}
.page a:hover{
  opacity: 1;
}
.page a:nth-child(5) img,
.page a:nth-child(4) img{ width: 49%; }

#frame1 img{
  view-transition-name: one;
}
.frame{
  display: flex;
}
.frame img{
  margin: 0 auto;
}
