@view-transition{
  navigation: auto;
}
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.disabled{
  pointer-events: none;
  opacity: 0.8;
}
.page{
  width: 100vw;
  height: auto;
  /* display: flex; */
  /* flex-flow: row wrap; */
  aspect-ratio: 1340 / 2049;
  margin: auto;
}
.page img{
  width: 32.3%;
  height: auto;
}
.page a{
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}
.page a:hover{
  opacity: 1;
}
.page a:nth-child(1) img{ width: 24%; }
.page a:nth-child(2) img{ width: 35%; }
.page a:nth-child(3) img{ width: 38%; }
.page a:nth-child(5) img,
.page a:nth-child(4) img{ width: 49%; }
.page a:nth-child(6) img{ width: 34%; }
.page a:nth-child(7) img{ width: 33%; }
.page a:nth-child(8) img{ width: 30%; }

#frame1 img{
  view-transition-name: one;
}
#frame2 img{
  view-transition-name: two;
}
#frame3 img{
  view-transition-name: three;
}
#frame4 img{
  view-transition-name: four;
}
#frame5 img{
  view-transition-name: five;
}
#frame6 img{
  view-transition-name: six;
}
#frame7 img{
  view-transition-name: seven;
}
#frame8 img{
  view-transition-name: eight;
}
#frame8 img,
#frame7 img,
#frame6 img,
#frame5 img,
#frame4 img,
#frame3 img,
#frame2 img,
#frame1 img{
  /* view-transition-name: all; */
  /* transform-origin: center; */
}
.frame{
  display: flex;
}
.frame img{
  /* margin: 0 auto; */
  width: 100vw;
  height: auto;
}
header{
  background: black;
  color: white;
  background: hsl(100,90,90);
  padding: 1rem;
}
header nav{
  padding: 1rem 0;
}
header nav a span{
  display: none;
}
