:root{
  view-transition-name: root;
}
@view-transition{
  navigation: auto;
}
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.page{
  background-image: url(../img/marvel_way-page.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  gap: 1%;
  padding: 1% 0;
  font: sans-serif;
}
.page{
  width: 100vw;
  height: auto;
  aspect-ratio: 990 / 1425;
  margin: auto;
}
a{
  background: rgb(0,0,0,0.35);
  width: 49%;
  height: 31.3%;
  height: clamp(31.3%,31.3%,32.3%);
  height: 32.3%;
}
a:hover{
  background: rgb(0,0,0,0.5);
}